/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /*padding: 15px 10px;*/
    background: #fff;
    border: none;
    border-radius: 0;
    /*margin-bottom: 40px;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebarCollapse{
    margin: 10px 5px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar-peserta {
    min-width: 250px;
    max-width: 250px;
    background: #96c364;
    color: #fff;
    border-radius: 2px;
    transition: all 0.3s;
}

#sidebar-peserta.active {
    margin-left: -250px;
}

#sidebar-peserta .sidebar-header {
    padding: 15px;
    background: #34a449;
}

#sidebar-peserta ul.components {
    /*padding: 20px 0;*/
}

#sidebar-peserta ul p {
    color: #fff;
    padding: 10px;
}

#sidebar-peserta ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid #34a449;
    border-top: 1px solid #34a449;
}

#sidebar-peserta ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar-peserta ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
/*    background: #6d7fcc;
*/}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar-peserta {
        margin-left: -250px;
    }
    #sidebar-peserta.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}