/*!
 * Tengku Firmansah
 * Copyright 2017
 */
/*! semutinfo.com */

body{
	background-color: #fff;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome.ttf')  format('truetype');
}
.logona{
	padding: 10px 5px;
}
.loginna{
	position: relative;
	/*height: 500px;*/
	overflow: hidden;
}
.error{
    color: #ed2729;
}
.header{
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
	z-index: 10;
}
.isina{
	padding: 0px 50px;
}
.sosmed{
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
}
.play{
	text-align: right;
	padding: 10px;
}
@media(max-width: 991px){	
	.sosmed{
		margin-top: 20px;
		margin-bottom: 20px;
		align-items: center;
		float: left;
		padding: 0px;
		margin-left: 25%;
	}	
	.play{
		text-align: center;
	}
}
.lingkaran-sosmed-fb{
	float: left;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	padding: 5px;
	background-color: #3d53a4;
}
.lingkaran-sosmed-tw{
	float: left;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	padding: 5px;
	background-color: #6dc0f3;
}
.lingkaran-sosmed-gp{
	float: left;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	padding: 5px;
	background-color: #eb2025;
}
.card-container.card {
    max-width: 350px;
    padding: 30px 40px;
}
.icon{
	padding: 20px 0px 20px 20px;
	color: #888;
}
.icon p{
	font-size: 18px;
	text-align: center;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.copy{
	color: #888;
	padding: 15px 10px;
}
.footer{
	background-color: #eee;
}
.card {
    background-color: rgba(247, 247, 247, 0.8);
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(66, 95, 202);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(61, 83, 164);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
@media (min-width: 768px) {
  .bawah {
    bottom: 0px;
    right: 20px;
    position: absolute;
  }
  .pisahin{
    position: absolute;
    right: 0px;
    top: -50px;
  } 
}

@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
    transform: rotate(-90deg);
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    /* margin-left: -125px; */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 200px;
    font-size: 17px;
    margin: 20px 10%;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 200px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 200px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 200px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 200px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.status-success{
    width: 100%;
    padding: 1px 2px;
    background-color: #5cb85c;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
.status-danger{
    width: 100%;
    padding: 1px 2px;
    background-color: #d9534f;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}